<div class="row justify-content-center vertical-center" id="login-square">
	<div class="col-4">
		<%= form_with(scope: :session, url: login_path, class: "border  bg-light p-5 shadow-sm p-3 mb-5 bg-white rounded", local: true) do |f| %>
			<div class="container">
			<div class="container text-center mb-2">
			
			<%= show_svg('carbon_user-avatar.svg') %>

			</div>
		    	<div class="form-group row">
					<%= f.label :username, class: "col-2 col-form-label " %>
					<div class="col-10">
						<%= f.text_field :username, class: "form-control shadow-sm p-3 bg-white rounded", placeholder: 'Enter a Username' %>
					</div>
				</div>


				<div class="form-group row">
		    	    <%= f.label :password, class: "col-2 col-form-label" %>
		    	    <div class="col-10">
						<%= f.password_field :password, class: "form-control shadow-sm p-3 bg-white rounded", placeholder: 'Enter your password' %>
					</div>
		    	</div>



				</div>
						<div class="container text-center mt-4">
							<%= f.submit 'Login', class: "btn btn-primary btn-lg" %>
						</div>
<div class="container text-center mt-1">
				<%= link_to "Sign up", signup_path %>
</div>
				</div>



				
	   </div>
<% end %>
</div>


