<h1>Users</h1>

<% @users.each do |user| %>
<div class="row justify-content-md-center">
      <div class="col-5">
          <div class="container text-center">
            <div class="card">
            <div class="container mt-2">
                <%= gravatar_for user, size: 200 %>
            </div>
              <div class="card-body">
                <h5 class="card-title"> <%= user.username %> </h5>
                <small class='text-muted'>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
                <p class="card-text"> <%= user.articles.length %> articles </p>
                <%= link_to 'Show Profile', user_path(user.id), class: "btn btn-primary" %>
                <%= link_to 'Edit Profile', edit_user_path(user.id), class: "btn btn-secondary" %>


              </div>
            </div>
          </div>
      </div>
  </div>
<% end %>

