<div class="container mb-4 col-6">
  <div class="card text-center">
    <div class="card-header">
    <%= article.user.username %>
    </div>
    <div class="card-body">
      <h5 class="card-title"> <%= article.title %> </h5>
      <p class="card-text"> <%= truncate(article.description, length: 50) %> </p>
      <a href=<%= article_path(article) %> class="btn btn-primary">Read</a>
    </div>
    <div class="card-footer text-muted">
      created <%=time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago
    </div>
  </div>
</div>