<div class="container mb-4 col-6">
  <div class="card text-center">
    <div class="card-header">
      Created by <%= link_to article.user.username, user_path(article.user) %>
    </div>
    <div class="card-body">
      <h5 class="card-title"> <%= article.title %> </h5>
      <p class="card-text"> <%= truncate(article.description, length: 50) %> </p>
      <a href=<%= article_path(article) %> class="btn btn-outline-primary">Read</a>
    </div>
    <div class="card-footer text-muted">
      created <%=time_ago_in_words(article.created_at).gsub('about', '') %> ago, edited <%= time_ago_in_words(article.updated_at).gsub('about', '') %> ago
    </div>
  </div>
</div>