<div class="row justify-content-md-center">
      <div class="col-5">
          <div class="container">
              <div class="card text-center shadow-sm mb-5 bg-white rounded">
                <div class="card-header text-left">
                
                  by <%= link_to object.user.username, user_path(object.user.id) %>
                </div>
                <div class="card-body d-flex">
                <div class="mr-auto">
                  <h5 class="card-title font-weight-bold text-left"><%= truncate(object.title, length: 40) %></h5>
                  <p class="card-text"> <%= truncate(object.description, length: 58) %> </p>
                </div>
                <div>
                  <a href=<%= article_path(object) %> class="btn btn-outline-primary">Read</a>

                  <% if logged_in? && (object.user == current_user || current_user.admin?) %>
                    <a href=<%= edit_article_path(object) %> class="btn btn-outline-secondary">Edit</a>
                    <%= link_to 'Delete', article_path(object), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
                  <% end %>


                </div>
                </div>
                <div class="card-footer text-muted">
                  <small>Created <%= time_ago_in_words(object.created_at) %> ago , edited <%= time_ago_in_words(object.updated_at) %> ago</small>
                </div>
              </div>
          </div>
      </div>
  </div>