<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  <a class="navbar-brand" href=<%= root_path %>>Alpha Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" id="botao-articles" href=<%= articles_path %> >Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href=<%= about_path %>>About</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href= <%= users_path %> >Users</a>
      </li>
    </ul>

<% if logged_in?  %>
  <%= link_to 'Write', new_article_path, class: 'btn btn-info mr-2' %>

  <%= link_to 'Profile', user_path(current_user[:id]), class: 'btn btn-primary mr-2' %>
  
  <%= link_to 'Logout', logout_path, class: 'btn btn-dark', method: :delete %>
<% else %>
  <%= link_to 'Login', login_path, class: 'btn btn-primary' %>
<% end %>
  </div>
</nav>